@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /*color scheme*/
    /* --color:#FBC846;
    --color:#F3F3F3;
    --color:#1F1F28;
    --color:#CB924C;
    --color:#EACF98;
    --color:#FC4070; */

}

*,*::before,*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Roboto', sans-serif;
}